spring:
  application:
    name: FoodDeliveryApp

  datasource:
    url: jdbc:mysql://211.105.132.180:3306/fooddeliveryapp
    username: fooddeliveryapp
    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true

  mail:
    host: smtp.gmail.com
    port: 587   # SMTP ?? ?? (?: TLS? ?? ????? 587, SSL? ?? 465)
    properties:
      mail:
        smtp:
          auth: true      # SMTP ?? ?? ??
          starttls:
            enable: true  # STARTTLS ?? ?? (TLS ???)

server:
  port: 443
  ssl:
    enabled: true
    key-store: src/main/resources/bootsecurity.p12
    key-store-password: 12345678
    key-store-type: PKCS12
    key-alias: bootsecurity
  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8

jwt:
  secret:
    key: 7Iqk7YyM66W07YOA7L2U65Sp7YG065+9U3ByaW5n6rCV7J2Y7Yqc7YSw7LWc7JuQ67mI7J6F64uI64ukLg==